@model Common.Permission

@{
    ViewBag.Title = "ShareMusic";
}

<h2>ShareMusic</h2>

@using (Html.BeginForm("ShareMusic", "Musics", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Permission</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Permission1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Permission1)
                    @Html.ValidationMessageFor(model => model.Permission1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Genre</label>
            <div class="col-md-10">
                <select name="Music_Fk" class="form-control">
                    @foreach (var music in new BusinessLogic.MusicsBL().GetMusics())
                    {
                        <option value="@music.Id">@music.Name</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Music_fk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Genre</label>
            <div class="col-md-10">
                <select name="User_Fk" class="form-control">
                    @foreach (var user in new BusinessLogic.UsersBL().GetUsers())
                    {
                        <option value="@user.Id">@user.Email</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.Music_fk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
